body {
    background-color: #85dcb8;
}

ul {
    background-color: #41b3a3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

li {
    float: left;
}

li a {
    color: #E27D60;
    display: block;
    text-align: center;
    padding: 10px 15px;
}

li a:hover {
    background-color: #85dcb8;
}
